<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- stäng av WebDAV så DELETE/PUT inte blockas -->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="WebDAVClassic" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- (valfritt) om du vill vackra URL:er utan .html, lägg rules här -->
    <!-- Annars behövs ingen rewrite alls i multipage-läget -->

    <staticContent>
      <mimeMap fileExtension=".js"  mimeType="application/javascript" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
 
    <aspNetCore processPath="dotnet"
                arguments="server.dll"
                hostingModel="InProcess" />
  </system.webServer>
</configuration>
